name: Build & Test

on: [push, pull_request]

jobs:
  front-end:
    name: Front End
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install
      run: |
        npm i
    - name: TS-Lint
      run: |
        npm run lint
    - name: Build
      run: |
        npm run build --prod --if-present
